@*@model PrathamFirst.Models.Product*@
@*@model IEnumerable<PrathamFirst.Models.Product>*@
@{
    var a = 1;
}

<form action="#" method="get" class="sidebar-form ">
    <div class="input-group">
        <input type="text" name="search" class="form-control w-25" placeholder="Search...">
        <span class="input-group-btn">
        <button type="submit"class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
<h1 class="text-center text-primary">Product Details</h1>

<a asp-area="" asp-controller="Product" asp-action="AddNew" class="btn btn-primary" >Add New</a>
<table class="table table-stripped mt-2">
    <thead class="bg-dark">
        <tr class="text-white">
            <th>S.N</th>
            <th>Product Image</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model)
            {
            <tr>
                <td>@a</td>                    
                <td>@item.Name</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>@item.Size</td>
                <td>@item.Price</td>
                <td><img style="height:30px; width:30px;" src="/Images/@item.Image"/></td>
                <td class="content-center">
                    <a asp-area="" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                    <a asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            a++;
            }
         }
        </tbody>
    </table>