@*@model PrathamFirst.Models.Product*@
@*@model IEnumerable<PrathamFirst.Models.Product>*@
@{
    var a = 1;
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<style>
    .dataTables_filter,
    .dataTables_info{
        display: none;
    }
</style>
<form action="#" method="get" class="sidebar-form ">
    <div class="input-group">
        <input type="text" name="search" id="SearchField" class="form-control w-25" placeholder="Search...">
        <span class="input-group-btn">
        <button type="submit"class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
<h1 class="text-center text-primary">Product Details</h1>

<a asp-area="" asp-controller="Product" asp-action="AddNew" class="btn btn-primary" >Add New</a>
<table id="Products" class="table table-stripped mt-2">
    <thead class="bg-dark">
        <tr class="text-white">
            <th>S.N</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
                @foreach (var item in Model)
            {
                <tr>
                    <td>@a</td>                    
                    <td>@item.Name</td>    
                    <td>@item.Stock</td>
                    <td>@item.Color</td>
                    <td>@item.Size</td>
                    <td>@item.Price</td>
                    <td>
                                <img style="height:30px; width:30px;" src="/Images/@item.Image" />
                        
                    </td>
                    @*<a data-bs-toggle="modal" data-bs-target="#Imagemodal">
                       <td>
                            <img style="height:30px; width:30px;" src="/Images/@item.Image" />
                        </td>
                    </a>*@
                    <td class="content-center">
                        <a asp-area="" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                        <a asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            a++;
            }
         }
        </tbody>
    </table>
<!--Login Modal -->
<div class="modal fade text-dark" id="Imagemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog py-2  modal-dialog-centered">
        <div style="background-color: #f5f5f0;width: 400px;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding:0px;">
                <form enctype="multipart/form-data" asp-controller="Home" asp-action="Login">
                    <div class="form-group px-4">
                        <label for="email" class="py-1">Email:</label>
                        <input type="text" class="form-control border-2" name="email" id="email" required>
                    </div>
                    <div class="form-group px-4">
                        <label for="password" class="py-1">Password:</label>
                        <input type="password" class="form-control border-2" name="password" id="password" required>
                    </div>
                    <div class="Form-group p-3">
                        <input class="btn btn-warning mt-2" type="submit" value="Login" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/Products.js"></script>
    }